In [1]:
from MarketData import BrokerData

In [2]:
bd = BrokerData(None)

In [3]:
bd.get_dividends('AAPL')

         Date  Dividends
0  1987-05-11    0.00214
1  1987-06-16    0.00000
2  1987-08-10    0.00214
3  1987-11-17    0.00286
4  1988-02-12    0.00286
..        ...        ...
66 2019-05-10    0.77000
67 2019-08-09    0.77000
68 2019-11-07    0.77000
69 2020-02-07    0.77000
70 2020-05-08    0.82000

[71 rows x 2 columns]

In [4]:
bd.get_splits('AAPL')

         Date  Stock Splits
0  1987-05-11           0.0
1  1987-06-16           2.0
2  1987-08-10           0.0
3  1987-11-17           0.0
4  1988-02-12           0.0
..        ...           ...
66 2019-05-10           0.0
67 2019-08-09           0.0
68 2019-11-07           0.0
69 2020-02-07           0.0
70 2020-05-08           0.0

[71 rows x 2 columns]